.containerdn {
	width: 100%; height: 600px;
}

.ttoan{
	width: 100%; height: 40px; background: #145CA1; font-size: 30px; color: white; margin-top: 10px;
}

.lable {
	font-size: 22px;
	color: #145CA1;
	margin-top: 10px;
	font-weight: bold;
}

.ctv {
	margin-left: 800px; margin-top: 10px;
	}
	
.login-form, .login-form h1, .login-form span, .login-form input,
	.login-form label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.login-form {
	float: left;
	clear: right;
	position: relative;
	width: 200px;
	height: 250px;
	padding: 15px 25px 0 25px;
	margin-top: 15px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 255), inset 1px 1px 1px
		1px rgb(0, 0, 0);
}

.login-form	h1 {
	line-height: 40px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: blue;
	text-align: center;
}

form .req {
	color: red;
}

form label {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 0;
	color: blue;
}

.login-form input[type=text], .login-form input[type=password] {
	line-height: 14px;
	margin: 10px 0;
	padding: 6px 15px;
	border: 1px solid #ccc;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
	border-radius: 26px;
	transition: all .15s ease-in-out;
}

.login-form input[type=submit] {
	line-height: 14px;
	margin: 10px 50px;
	padding: 6px 15px;
	border: 0;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
	border-radius: 26px;
	transition: all .15s ease-in-out;
}

.login-form input[type=text], .login-form input[type=password], .js .login-form span
	{
	color: blue;
	width: 170px;
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
	background: #f0f0f0;
	background: linear-gradient(top, #ffffff 0%, #989898 100%);
}

.login-form input[type=text]:hover, .login-form input[type=password]:hover
	{
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px 5px
		rgba(255, 255, 255, .5);
}

.login-form input[type=text]:focus, .login-form input[type=password]:focus
	{
	color: blue;
  background-color: #fff;
  background-position: 110% center;
  background-repeat: no-repeat;
  border-color: #059;
  box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
}

.login-form input[type=submit] {
	cursor: pointer;
	color: white;
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px
		0px rgba(0, 0, 0, .3);
	background: #145CA1;
	background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
}

.login-form input[type=submit]:hover {
	box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px
		0px rgba(0, 0, 0, .6);
}

.login-form input[type=submit]:active {
	box-shadow: none;
}

a{
font-family: Aria, sans-serif;
font-size: 12px;
font-weight: bold;
color: #0033FF;
margin-left: 15px;
text-decoration: none;
}

.login-form input[type=button] {
	line-height: 14px;
margin: 5px 40px;
padding: 6px 15px;
border: 0;
outline: none;
font-family: Aria, sans-serif;
font-size: 16px;
font-weight: bold;
text-shadow: 0px 1px 1px rgba(255,255,255, .2);
border-radius: 26px;
transition: all .15s ease-in-out;
}
.login-form  input[type=button]{
cursor: pointer;
color: white;
box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
background: #06F;
background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}
.login-form  input[type=button]:hover {
box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}
.login-form input[type=button]:active {
box-shadow: none;
}