footer {
	background: #1E62A3;
	width: 100%;
	height: 150px;
}

#footer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: #1E62A3;
	height: 100px;
	
}

#footer article {
	margin: 0px auto;
	width: 65%;
	padding-top: 10px;
}

#footer img{
float: left;
clear: right;
margin-left: 40px;
	}
.section-f1 {
	width: 20%;
	height: 300px;
}

.section-f1 ul {
	display: block;
	list-style-type: none;
}

.section-f1 ul li {
	margin: 3px;
	display: inline-block;
	float: left;
	clear: both;
	font-family: Arial, sans-serif;
}

.section-f1 a {
	display: block;
	text-decoration: none;
	width: 100px;
	text-decoration: none;
	color: #A3D9ED;
	font-weight: bold;
	padding: 10px 30px
}

div.h2 {
	font-size: 24px;
	width: 100%;
	height: 50px;
	font-family: Arial, sans-serif;
	text-align: center;
	position: relative;
	top: 10px;
}
