#container {
/* 	width: 1336px; */
}

a {
	float: left;
	clear: right;
}

header {
	clear: none;
}

header img {
	margin-left: 60px;
}

#dn {
	float: right;
	clear: none;
	padding-top: 50px;
	padding-right: 10px;
}

#taga {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: white;
	text-decoration: none;
	display: block;
	padding-right: 20px;
}

#taga:HOVER{
	color: red;
}
nav {
	float: right;
	margin-top: -65px;
}

nav ul {
	list-style: none;
	font-family: Arial, sans-serif;
	font-size: 18px;
	padding: 0;
}

.overflow {
	overflow: auto;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul a {
	text-decoration: none;
	color: white;
/* 	text-shadow: 0 0 3px #FF0000; */
	display: block;
	font-weight: bold;
	padding: 10px 20px;



	  background: black -webkit-gradient(linear, left top, right top,
from(black), to(white), color-stop(0.5, white)) 0 0 no-repeat;
    color: rgba(255, 255, 255, 0.1);
    position: relative;
 
    -webkit-animation: shine 2s infinite;
    -webkit-background-clip: text;
    -webkit-background-size: 300px;
}
 
@-webkit-keyframes shine {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }

}

nav ul a:HOVER {
	color: orange;
	box-shadow: 10px;
		  text-shadow:
	        0px 0px 0 rgb(-28,153,-22),
	        1px 1px 0 rgb(-55,126,-49),
	        2px 2px 0 rgb(-83,98,-77),
	        3px 3px 0 rgb(-111,70,-105),
	        4px 4px 0 rgb(-139,42,-133),
	        5px 5px 0 rgb(-166,15,-160),
	        6px 6px 0 rgb(-194,-13,-188),
	        7px 7px 0 rgb(-222,-41,-216),
	        8px 8px 7px rgba(0,0,0,0.75),
	        8px 8px 1px rgba(0,0,0,0.5),
	        0px 0px 7px rgba(0,0,0,.2);
}