#contain {
	width: 1366px;
	height: 700px;
}
#center{
	width: 500px;
	height: auto;
	background: #fff;
	padding: 10px;
	margin: 38px 350px;
	float: left;
	clear: rght;
	border-radius: 10px;
	border-width: 3px;
	border-color: black;
	box-shadow: -5px -5px 35px #ccc;
}

#button_s {
	width: 150px;
	height: 35px;
	font-size: 20px;
	cursor: pointer;
	color: #445b0f;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px
		1px 1px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px
		1px 0px rgba(0, 0, 0, .3);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px
		0px rgba(0, 0, 0, .3);
	background: #F8B300;
	background: -moz-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8B300),
		color-stop(100%, #FEBD27));
	background: -webkit-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -o-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -ms-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	cursor: pointer;
	font-size: 20px;
}

#button_s:hover {
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px
		1px 1px 0px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px
		1px 0px rgba(0, 0, 0, .6);
	box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px
		0px rgba(0, 0, 0, .6);
}

#button_s:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#divtrai {
	margin-bottom: 20px;
	margin-left: 50px;
	width: auto;
}
#divphai {
	margin-bottom: 20px;
	margin-left: 50px;
}
#slable {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: blue;
	margin-bottom: 10px;
}
#h3 {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
#bt{
	margin-left: 160px;
}

.text{
	display: inline-block;
	padding: 8px 9px;
	padding-right: 30px;
	margin-top:15px;
	width: 340px;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #898989;
	background-color: #f0f0f0;
	background-position: 110% center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
	transition: all 0.3s linear;
}