div#xe {
	position:absolute;
	border: 3px solid #4F679B;
	background: white;
	width: 260px;
	height: 500px;
	border-radius: 20px;
	float: left;
	clear: right;
	left: 50px;
}

div#xe .ghe {
	position: absolute;
	width: 45px;
	height: 45px;
}

div#xe .hang0 {
	top: 180px;
}

div#xe .hang1 {
	top: 240px;
}

div#xe .hang2 {
	top: 300px;
}

div#xe .hang3 {
	top: 360px;
}

div#xe .hang4 {
	top: 420px;
}

div#xe .cot0 {
	left: 20px;
}

div#xe .cot1 {
	left: 80px;
}

div#xe .cot2 {
	left: 140px;
}

div#xe .cot3 {
	left: 200px;
}