<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BanVeXe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TimTuyen</display-name>
    <servlet-name>TimTuyen</servlet-name>
    <servlet-class>controller.TimTuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimTuyen</servlet-name>
    <url-pattern>/TimTuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimGhe</display-name>
    <servlet-name>TimGhe</servlet-name>
    <servlet-class>controller.TimGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimGhe</servlet-name>
    <url-pattern>/TimGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemGhe</display-name>
    <servlet-name>ThemGhe</servlet-name>
    <servlet-class>controller.ThemGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemGhe</servlet-name>
    <url-pattern>/ThemGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuyGhe</display-name>
    <servlet-name>HuyGhe</servlet-name>
    <servlet-class>controller.HuyGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuyGhe</servlet-name>
    <url-pattern>/HuyGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KiemTraSLGhe</display-name>
    <servlet-name>KiemTraSLGhe</servlet-name>
    <servlet-class>controller.KiemTraSLGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraSLGhe</servlet-name>
    <url-pattern>/KiemTraSLGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateCaptcha</display-name>
    <servlet-name>GenerateCaptcha</servlet-name>
    <servlet-class>controller.GenerateCaptcha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCaptcha</servlet-name>
    <url-pattern>/GenerateCaptcha</url-pattern>
  </servlet-mapping>
</web-app>