<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BanVeXe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>TimTuyen</servlet-name>
    <servlet-class>controller.TimTuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimTuyen</servlet-name>
    <url-pattern>/TimTuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimGhe</display-name>
    <servlet-name>TimGhe</servlet-name>
    <servlet-class>controller.TimGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimGhe</servlet-name>
    <url-pattern>/TimGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemGhe</display-name>
    <servlet-name>ThemGhe</servlet-name>
    <servlet-class>controller.ThemGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemGhe</servlet-name>
    <url-pattern>/ThemGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuyGhe</display-name>
    <servlet-name>HuyGhe</servlet-name>
    <servlet-class>controller.HuyGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuyGhe</servlet-name>
    <url-pattern>/HuyGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KiemTraSLGhe</display-name>
    <servlet-name>KiemTraSLGhe</servlet-name>
    <servlet-class>controller.KiemTraSLGhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraSLGhe</servlet-name>
    <url-pattern>/KiemTraSLGhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateCaptcha</display-name>
    <servlet-name>GenerateCaptcha</servlet-name>
    <servlet-class>controller.GenerateCaptcha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCaptcha</servlet-name>
    <url-pattern>/GenerateCaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongTin</display-name>
    <servlet-name>ThongTin</servlet-name>
    <servlet-class>controller.ThongTin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongTin</servlet-name>
    <url-pattern>/ThongTin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhap</display-name>
    <servlet-name>DangNhap</servlet-name>
    <servlet-class>controller.DangNhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhap</servlet-name>
    <url-pattern>/DangNhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTuyen</display-name>
    <servlet-name>ListTuyen</servlet-name>
    <servlet-class>controller.admin.themtuyen.ListTuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTuyen</servlet-name>
    <url-pattern>/ListTuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTuyen</display-name>
    <servlet-name>AddTuyen</servlet-name>
    <servlet-class>controller.admin.themtuyen.AddTuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTuyen</servlet-name>
    <url-pattern>/AddTuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTuyen</display-name>
    <servlet-name>UpdateTuyen</servlet-name>
    <servlet-class>controller.admin.themtuyen.UpdateTuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTuyen</servlet-name>
    <url-pattern>/UpdateTuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTuyen</display-name>
    <servlet-name>DeleteTuyen</servlet-name>
    <servlet-class>controller.admin.themtuyen.DeleteTuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTuyen</servlet-name>
    <url-pattern>/DeleteTuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTuyenData</display-name>
    <servlet-name>ListTuyenData</servlet-name>
    <servlet-class>controller.admin.themtuyen.ListTuyenData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTuyenData</servlet-name>
    <url-pattern>/ListTuyenData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListChuyen</display-name>
    <servlet-name>ListChuyen</servlet-name>
    <servlet-class>controller.admin.themchuyen.ListChuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListChuyen</servlet-name>
    <url-pattern>/ListChuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddChuyen</display-name>
    <servlet-name>AddChuyen</servlet-name>
    <servlet-class>controller.admin.themchuyen.AddChuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChuyen</servlet-name>
    <url-pattern>/AddChuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Kiemtrachuyen</display-name>
    <servlet-name>Kiemtrachuyen</servlet-name>
    <servlet-class>controller.admin.themchuyen.Kiemtrachuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kiemtrachuyen</servlet-name>
    <url-pattern>/Kiemtrachuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteChuyen</display-name>
    <servlet-name>DeleteChuyen</servlet-name>
    <servlet-class>controller.admin.themchuyen.DeleteChuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteChuyen</servlet-name>
    <url-pattern>/DeleteChuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateChuyen</display-name>
    <servlet-name>UpdateChuyen</servlet-name>
    <servlet-class>controller.admin.themchuyen.UpdateChuyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChuyen</servlet-name>
    <url-pattern>/UpdateChuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDiaDiem</display-name>
    <servlet-name>ListDiaDiem</servlet-name>
    <servlet-class>controller.admin.themdiadiem.ListDiaDiem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDiaDiem</servlet-name>
    <url-pattern>/ListDiaDiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiaDiem</display-name>
    <servlet-name>AddDiaDiem</servlet-name>
    <servlet-class>controller.admin.themdiadiem.AddDiaDiem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiaDiem</servlet-name>
    <url-pattern>/AddDiaDiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDiaDiem</display-name>
    <servlet-name>DeleteDiaDiem</servlet-name>
    <servlet-class>controller.admin.themdiadiem.DeleteDiaDiem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDiaDiem</servlet-name>
    <url-pattern>/DeleteDiaDiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDiaDiem</display-name>
    <servlet-name>UpdateDiaDiem</servlet-name>
    <servlet-class>controller.admin.themdiadiem.UpdateDiaDiem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDiaDiem</servlet-name>
    <url-pattern>/UpdateDiaDiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListKhachHang</display-name>
    <servlet-name>ListKhachHang</servlet-name>
    <servlet-class>cotroller.admin.themkhachhang.ListKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListKhachHang</servlet-name>
    <url-pattern>/ListKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteKhachHang</display-name>
    <servlet-name>DeleteKhachHang</servlet-name>
    <servlet-class>cotroller.admin.themkhachhang.DeleteKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKhachHang</servlet-name>
    <url-pattern>/DeleteKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKhachHang</display-name>
    <servlet-name>UpdateKhachHang</servlet-name>
    <servlet-class>cotroller.admin.themkhachhang.UpdateKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKhachHang</servlet-name>
    <url-pattern>/UpdateKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVe</display-name>
    <servlet-name>ListVe</servlet-name>
    <servlet-class>controller.admin.ThemVe.ListVe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVe</servlet-name>
    <url-pattern>/ListVe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmail</display-name>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>controller.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuat</display-name>
    <servlet-name>DangXuat</servlet-name>
    <servlet-class>controller.DangXuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuat</servlet-name>
    <url-pattern>/DangXuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKi</display-name>
    <servlet-name>DangKi</servlet-name>
    <servlet-class>controller.DangKi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKi</servlet-name>
    <url-pattern>/DangKi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KiemTraUser</display-name>
    <servlet-name>KiemTraUser</servlet-name>
    <servlet-class>controller.KiemTraUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraUser</servlet-name>
    <url-pattern>/KiemTraUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiMatKhau</display-name>
    <servlet-name>DoiMatKhau</servlet-name>
    <servlet-class>controller.DoiMatKhau</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiMatKhau</servlet-name>
    <url-pattern>/DoiMatKhau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaThongTin</display-name>
    <servlet-name>SuaThongTin</servlet-name>
    <servlet-class>controller.SuaThongTin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaThongTin</servlet-name>
    <url-pattern>/SuaThongTin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimVe</display-name>
    <servlet-name>TimVe</servlet-name>
    <servlet-class>controller.TimVe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimVe</servlet-name>
    <url-pattern>/TimVe</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>util.CenterMessage</listener-class>
  </listener>
  <context-param>
    <param-name>centerNumber</param-name>
    <param-value>+84980200030</param-value>
  </context-param>
  <context-param>
    <param-name>comPort</param-name>
    <param-value>COM9</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ThanhToan</display-name>
    <servlet-name>ThanhToan</servlet-name>
    <servlet-class>controller.ThanhToan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToan</servlet-name>
    <url-pattern>/ThanhToan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanTien</display-name>
    <servlet-name>ThanhToanTien</servlet-name>
    <servlet-class>controller.ThanhToanTien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanTien</servlet-name>
    <url-pattern>/ThanhToanTien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOTP</display-name>
    <servlet-name>CheckOTP</servlet-name>
    <servlet-class>controller.CheckOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOTP</servlet-name>
    <url-pattern>/CheckOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LienHe</display-name>
    <servlet-name>LienHe</servlet-name>
    <servlet-class>controller.LienHe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LienHe</servlet-name>
    <url-pattern>/LienHe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuyVe</display-name>
    <servlet-name>HuyVe</servlet-name>
    <servlet-class>controller.HuyVe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuyVe</servlet-name>
    <url-pattern>/HuyVe</url-pattern>
  </servlet-mapping>
</web-app>