#container {
	width: 1336px;
}

a {
	float: left;
	clear: right;
}

header {
	clear: none;
}

header img {
	margin-left: 60px;
}

#dn{
	float: right;
	clear: none;
	padding-top: 50px;
	padding-right: 10px;
}

#taga{
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: white;
	text-decoration: none;
	display: block;
	padding-right: 20px;
}

nav {
	float: right;
	margin-top: -65px;
}

nav ul {
	list-style: none;
	font-family: Arial, sans-serif;
	font-size: 18px;
	padding: 0;
}
.overflow{
	overflow: auto;
}
nav ul li {
	float: left;
	position: relative;
}

nav ul a {
	text-decoration: none;
	color: #A3D9ED;
	display: block;
	font-weight: bold;
	padding: 10px 20px;
	background: #000;
}

nav ul a:HOVER {
	background: #555;
}