.test{
	font-family: Tahoma;
	font-size: 20px;
	color: red;
	font-style: italic;
	font-weight: bold;
}

body {
	width: auto;
}

div#container {
	width: 1366px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

section.def {
	margin-top: 40px;
	width: 100%;
	height: 700px;
}

article {
	margin-top: -350px;
	margin-left: 240px;
	width: 220px;
	height: 200px;
	opacity: 1;
}

.login-form {
	position: relative;
	width: 420px;
	height: 300px;
	padding: 15px 25px 0 25px;
	margin-top: 15px;
	cursor: default;
	font-weight: bold;
	/* 	background-color: #145CA1; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 25px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px
		1px 1px 0px rgb(0, 0, 0);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px
		1px 0px rgb(0, 0, 0);
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px
		0px rgb(0, 0, 0);
}

.login-form input[type=text], .login-form input[type=date], .login-form input[type=submit]
	{
	line-height: 14px;
	margin: 10px 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.login-form input[type=text], .login-form input[type=date], .js .login-form span
	{
	color: #686868;
	width: 170px;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
	background: #989898;
	background: -moz-linear-gradient(top, #ffffff 0%, #989898 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #989898));
	background: -webkit-linear-gradient(top, #ffffff 0%, #989898 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #989898 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #989898 100%);
	background: linear-gradient(top, #ffffff 0%, #989898 100%);
}

.login-form input[type=text]:hover, .login-form input[type=date]:hover {
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px
		0px 5px rgba(255, 255, 255, .5);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px
		5px rgba(255, 255, 255, .5);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px 5px
		rgba(255, 255, 255, .5);
}

.login-form input[type=text]:focus, .login-form input[type=date]:focus {
	background: #e1e1e1;
	background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
	background: linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
}

.login-form input[type=submit] {
	width: 200px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
	color: #445b0f;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px
		1px 1px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px
		1px 0px rgba(0, 0, 0, .3);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px
		0px rgba(0, 0, 0, .3);
	background: #F8B300;
	background: -moz-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8B300),
		color-stop(100%, #FEBD27));
	background: -webkit-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -o-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -ms-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	cursor: pointer;
	font-size: 20px;
}

#checkbox {
	font-size: 20px;
	color: white;
}

.login-form input[type=submit]:hover {
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px
		1px 1px 0px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px
		1px 0px rgba(0, 0, 0, .6);
	box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px
		0px rgba(0, 0, 0, .6);
}

.login-form input[type=submit]:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.section1 {
	width: 100%;
	height: 1000px;
	margin-top: 135px;
	padding: 5px;
}

table#tb-datve {
	border-spacing: 10px;
}

span#title-datve {
	font-size: 20px;
	color: white;
}

div#menu-noidi, div#menu-noiden {
	position: absolute;
	width: 904px;
	height: 100px;
	background: white;
	transition: all 0.3s linear;
	top: 150px;
	display: block;
	z-index: 1;
}

div#menu-noidi:hover, div#menu-noiden:hover {
	height: 100px;
	opacity: 1;
}

div.noidi-nam, div.noidi-trung, div.noidi-bac {
	float: left;
	clear: right;;
	font-size: 15px;
	font-family: arial;
	/* 	color: #145CA1; */
	background: white;
	width: 300px;
	height: 120px;
	border-right: 1px solid silver;
}

div.noidi-nam #noidi-den, div.noidi-trung #noidi-den, div.noidi-bac #noidi-den
	{
	border-color: red;
	background: orange;
	border: 2px;
	width: 100%;
	height: 20px;
	font-size: 18px;
	font-style: italic;
	padding-top: 5px;
}

ul.noidi-nam1, ul.noidi-nam2, ul.noidi-trung1, ul.noidi-trung2, ul.noidi-bac1,
	ul.noidi-bac2 {
	float: left;;
	clear: right;;
	list-style-type: none;
	display: block;
}

div#menu-noidi li:hover, div#menu-noiden li:hover {
	color: blue;
	text-decoration: underline;
}

div#menu-noidi li:active, div#menu-noiden li:active {
	color: yellow;
	text-decoration: underline;
}

