.contain {
	width: 1336px;;
	height: 720px;
}

.thongtinKH {
	width: 100%;
	height: 40px;
	background: #145CA1;
	font-size: 30px;
	color: white;
	margin-top: 10px;
}

.login {
	margin-top: 20px;
	clear: both;
	width: 60%;
	height: 550px;
	margin-left: 300px;
	border-radius: 10px;
	border-width: 3px;
	border-color: black;
	box-shadow: -5px -5px 35px #ccc;
}

.login-form {
	margin-left: 60px;
	position: relative;
	float: left;
	font-size: 20px;
	color: white;
	padding: 15px 25px 0 25px;
	margin-top: 5px;
	cursor: default;
	font-weight: bold;
	background-color: #145CA1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 25px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px
		1px 1px 0px rgb(0, 0, 0);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px
		1px 0px rgb(0, 0, 0);
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px
		0px rgb(0, 0, 0);
}

.req {
	color: red;
}

.p-thongtin {
	font-size: 22px;
	color: #145CA1;
	font-weight: bold;
}

.dangnhap {
	width: 100%;
	height: 50px;
	clear: none;
}

.p-KCdangnhap {
	font-size: 16px;
	margin-top: 0px;
	margin-left:10px;
	float: left;
	clear: right;
}

.p-dangnhap {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-left:10px;
	float: left;
	clear: right;
}

#xacnhan input[type=submit] {
	width: 120px;
	height: 30px; font-size : 20px; cursor : pointer;
	color: #445b0f;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px
		1px 1px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px
		1px 0px rgba(0, 0, 0, .3);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px
		0px rgba(0, 0, 0, .3);
	background: #F8B300;
	background: -moz-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8B300),
		color-stop(100%, #FEBD27));
	background: -webkit-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -o-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: -ms-linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	background: linear-gradient(top, #F8B300 0%, #FEBD27 100%);
	cursor: pointer;
}

#xacnhan input[type=submit]:hover {
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px
		1px 1px 0px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px
		1px 0px rgba(0, 0, 0, .6);
	box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px
		0px rgba(0, 0, 0, .6);
}


.dn {
	margin-top: 20px;
	font-size: 18px;
	color: red;
	font-style: italic;
	font-weight: bold;
	clear: none;
}