fieldset {
	width: 80%;
	/* 	height: 600px; */
	height: auto;
	margin-left: 100px;
	margin-bottom: 30px;
}

legend {
	color: blue;
	font-style: italic;
	font-size: 30px;
}

h1 {
	color: blue;
	margin-left: 100px;
	font-family: Arial;
}

.container {
	width: 1366px;
	/* 	height: 1000px; */
	height: auto;
}

.thongtinve {
	width: 900px;
	/* 	height: 500px; */
	height: auto;
	background: #fff;
	padding: 10px;
	margin: 30px 68px;
	float: left;
	clear: rght;
	border-radius: 10px;
	border-width: 3px;
	border-color: black;
	box-shadow: -5px -5px 35px #ccc;
}

.td {
	font-family: Arial;
	margin-left: 50px;
}

.thoidiem {
	float: left;
	clear: right;
	font-size: 22px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 20px;
}

td h3 {
	float: left;
	clear: right;
}

td img {
	float: right;
	width: 150px;
	height: 50px;
}

.thoihan {
	margin-top: 20px;
	margin-left: 100px;
	color: blue;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 20px;
}

td {
	width: 15%;
	color: red;
	background: #9cf;
}

table {
	/* 	border-radius : 25px; */
	text-align: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.mave {
	float: right;
	margin-right: 100px;
	font-size: 22px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 20px;
}