#tt-container {
	width: 1366px;
	height: 800px;
}

#timvenhanh {
	width: 80%;
	font-size: 20px;
	color: white;
	font-family: arial;
	position: absolute;
	margin-top: 60px;
}

#listve {
	margin-top: 100px;
	margin-left: 10px;
	width: 80%;
	float: left;
	clear: right;
	border: double;
	font-size: 18px;
}

#listve ul {
	margin-left: 20px;
}

#link {
	margin-top: 5px;
	width: 80%;
	float: left;
	clear: none;
}

#DSlink {
	width: 80%;
	font-size: 20px;
	color: white;
	font-family: arial;
	position: absolute;
	background: #1E62A3;
}

#ds {
	margin-top: 30px;
}