#tt-container {
	width: 1336px;
	height: 800px;
}

#center {
	width: 77%;
	height: 500px;
	float: left;
	clear:none;
}

#left, #right {
	float: left;
	clear:none;
	width: 11.5%;
	height: 600px;
	
}
#imgleft, #imgright{
	top: 200px;
	position: fixed;
}

legend {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 20px;
	color: red;
}

#center-top{
	
}

#center-bottom{
	
}

.tt-img {
	float: left;
	clear:none;
	margin-right: 50px;
}

.tt-a {
	text-decoration: none;
	font-family: Tahoma;
	font-weight: bold;
	font-style: italic;
	font-size: 17px;
	color: #0090D5;
}

#tt-01, #tt-02, #tt-03{
	width: 100%;
	height: 200px;;
}