div#xe {
	position:absolute;
	border: 3px solid #4F679B;
	background: white;
	width: 310px;
	height: 680px;
	border-radius: 20px;
	float: left;
	clear: right;
	left: 0px;
}
div#xe .ghe {
	position: absolute;
	width: 45px;
	height: 45px;
}

div#xe .cot0 {
	left: 20px;
}

div#xe .cot1 {
	left: 80px;
}

div#xe .cot2 {
	left: 180px;
}

div#xe .cot3 {
	left: 240px;
}

div#xe .hang0 {
	top: 120px;
}

div#xe .hang1 {
	top: 170px;
}

div#xe .hang2 {
	top: 220px;
}

div#xe .hang3 {
	top: 270px;
}

div#xe .hang4 {
	top: 320px;
}
div#xe .hang5 {
	top: 370px;
}
div#xe .hang6 {
	top: 420px;
}
div#xe .hang7 {
	top: 470px;
}
div#xe .hang8 {
	top: 520px;
}
div#xe .hang9 {
	top: 570px;
}
div#xe .hang10 {
	top: 620px;
	}
div#xe .cot1-0 {
	left: 20px;
}

div#xe .cot1-1 {
	left: 75px;
}

div#xe .cot1-2 {
	left: 130px;
}

div#xe .cot1-3 {
	left: 185px;
}
div#xe .cot1-4 {
	left: 240px;
}
	