<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BanVeXe</display-name>
  <welcome-file-list>
    <welcome-file>trangchu</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/throwable.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/jsp/throwable.jsp</location>
  </error-page>
  <listener>
    <listener-class>util.CenterMessage</listener-class>
  </listener>
  <context-param>
    <param-name>centerNumber</param-name>
    <param-value>+84980200030</param-value>
  </context-param>
  <context-param>
    <param-name>comPort</param-name>
    <param-value>COM8</param-value>
  </context-param>
  <security-constraint>
    <display-name>Restrict direct access to certain folders</display-name>
    <web-resource-collection>
      <web-resource-name>Restricted folders</web-resource-name>
      <url-pattern>/jsp/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <error-page>
    <error-code>403</error-code>
    <location>/dangnhapadmin</location>
  </error-page>
</web-app>